node_modules
.env
*.env
*.pdf
*.zip
coverage
coverage.json
typechain
typechain-types
deployments*
task_copy
.vscode
package-lock.json

#Hardhat files
cache
artifacts

assets/tokenUri-svg
flatten


.DS_Store
